.card {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: flex-start;
  .photo {
    max-width: 200px;
    height: 200px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
  }
}
.buttons {
  display: flex;
}
